PropertyField.VrcFuryEditorProp > .unity-base-field > Label {
    display: none;
}
PropertyField.VrcFuryEditorProp > .unity-base-field {
    margin: 0;
}
.VrcFuryEditorProp.unity-base-field {
    margin: 0;
}
.vfTooltip.vfTooltipHidden {
    display: none;
}
