name: 'Deploy'
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      PROJECT_PATH: .github/workflows/test_project
    strategy:
      fail-fast: false
      matrix:
        vrcsdkVersion:
          - 3.3.0
          - 3.0.9
          - 2022.06.03.00.04
        unityImage:
          - unityci/editor:ubuntu-2019.4.31f1-windows-mono-2.0.0
          - unityci/editor:ubuntu-2019.4.31f1-android-2.0.0
          - unityci/editor:ubuntu-2022.3.6f1-windows-mono-3.0.1
          - unityci/editor:ubuntu-2022.3.6f1-android-3.0.1
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ${{ env.PROJECT_PATH }}/Library
          key: Library-${{ matrix.unityImage }}-${{ matrix.vrcsdkVersion }}
          restore-keys: |
            Library-${{ matrix.unityImage }}
            Library-

      - name: Download VRCSDK
        run: |
          if [[ "${{ matrix.vrcsdkVersion }}" == "2022.06.03.00.04" ]]; then
            curl -L -o "vrcsdk.zip" "https://github.com/VRCFury/VRCFury/releases/download/old-vrcsdk/VRCSDK.zip"
            unzip "vrcsdk.zip" -d "$PROJECT_PATH/Assets"
          elif [[ "${{ matrix.vrcsdkVersion }}" == "3.0.9" ]]; then
            curl -L -o "avatars.zip" "https://github.com/vrchat/packages/releases/download/3.1.9/com.vrchat.avatars-3.0.9.zip"
            curl -L -o "base.zip" "https://github.com/vrchat/packages/releases/download/3.1.9/com.vrchat.base-3.0.9.zip"
            mkdir -p "$PROJECT_PATH/Packages/com.vrchat.avatars"
            mkdir -p "$PROJECT_PATH/Packages/com.vrchat.base"
            unzip avatars.zip -d "$PROJECT_PATH/Packages/com.vrchat.avatars"
            unzip base.zip -d "$PROJECT_PATH/Packages/com.vrchat.base"
          elif [[ "${{ matrix.vrcsdkVersion }}" == "3.3.0" ]]; then
            curl -L -o "avatars.zip" "https://github.com/vrchat/packages/releases/download/3.3.0/com.vrchat.avatars-3.3.0.zip"
            curl -L -o "base.zip" "https://github.com/vrchat/packages/releases/download/3.3.0/com.vrchat.base-3.3.0.zip"
            mkdir -p "$PROJECT_PATH/Packages/com.vrchat.avatars"
            mkdir -p "$PROJECT_PATH/Packages/com.vrchat.base"
            unzip avatars.zip -d "$PROJECT_PATH/Packages/com.vrchat.avatars"
            unzip base.zip -d "$PROJECT_PATH/Packages/com.vrchat.base"
          else
            echo "What"
            exit 1
          fi

      - name: Run Tests
        id: tests
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        run: |
          chmod +x .github/workflows/test_ci.sh
          docker run --rm \
              --env UNITY_LICENSE \
              --volume="${PWD}:/opt/project" \
              ${{ matrix.unityImage }} \
              /opt/project/.github/workflows/test_ci.sh

  deploy:
    needs: test
    if: github.ref_name == github.event.repository.default_branch
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          path: repo
      - name: Checkout version manifest
        uses: actions/checkout@v3
        with:
          path: versions
          repository: VRCFury/vrcfury-updater-manifest
          ssh-key: ${{ secrets.VERSION_DEPLOY_KEY }}
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Bundle
        working-directory: repo
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          (cd .github/workflows && npm install)
          node .github/workflows/bundle.js
      - name: Push version manifest
        working-directory: versions
        run: |
          git diff
          git config user.name VRCFury Releases
          git config user.email noreply@vrcfury.com
          git diff --quiet || git commit -am "Release from $GITHUB_SHA"
          git push
