name: 'Deploy'
on: push

env:
  GAMECI_VERSION: 3.2.1

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      PROJECT_PATH: .github/workflows/test_project
    strategy:
      fail-fast: false
      matrix:
        vrcsdkUnityVersion:
          - [ 3.10.1, 2022.3.22f1 ]
          - [ 3.7.0, 2022.3.6f1 ]
          - [ 3.6.1, 2022.3.6f1 ]
          - [ 3.5.2, 2022.3.6f1 ]
          - [ 3.5.0, 2022.3.6f1 ]
          - [ 3.3.0, 2019.4.31f1 ]
          - [ 3.0.9, 2019.4.31f1 ]
          - [ 2022.06.03.00.04, 2019.4.31f1 ]
          - [ 3.10.1, 6000.3.1f1 ]
        platform:
          - windows
          - android
    steps:
      - uses: actions/checkout@v6

      # Github's "ubuntu-latest" comes with a ton of unused stuff that pushes us over the disk limit
      - name: Clean up node
        run: |
          rm -R .git
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          docker image prune --all --force
          docker builder prune -a

      - name: Download VRCSDK
        run: |
          VERSION="${{ matrix.vrcsdkUnityVersion[0] }}"
          echo "Downloading VRCSDK $VERSION"

          if [[ "$VERSION" == "2022.06.03.00.04" ]]; then
            curl -L -o "vrcsdk.zip" "https://github.com/VRCFury/VRCFury/releases/download/old-vrcsdk/VRCSDK.zip"
            unzip "vrcsdk.zip" -d "$PROJECT_PATH/Assets"
            rm "vrcsdk.zip"
          else
            MANIFEST_URL="https://vrchat.github.io/packages/index.json"
            echo "Downloading manifest from $MANIFEST_URL"
            MANIFEST="$(curl "$MANIFEST_URL")"
            AV_URL="$(echo "$MANIFEST" | jq ".packages.\"com.vrchat.avatars\".versions.\"$VERSION\".url" --raw-output)"
            echo "Avatar SDK URL is $AV_URL"
            BASE_URL="$(echo "$MANIFEST" | jq ".packages.\"com.vrchat.base\".versions.\"$VERSION\".url" --raw-output)"
            echo "Base SDK URL is $BASE_URL"
            curl -L -o "avatars.zip" "$AV_URL"
            curl -L -o "base.zip" "$BASE_URL"
            mkdir -p "$PROJECT_PATH/Packages/com.vrchat.avatars"
            mkdir -p "$PROJECT_PATH/Packages/com.vrchat.base"
            unzip avatars.zip -d "$PROJECT_PATH/Packages/com.vrchat.avatars"
            unzip base.zip -d "$PROJECT_PATH/Packages/com.vrchat.base"
            rm "avatars.zip"
            rm "base.zip"
          fi

      - name: Run Tests
        id: tests
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        run: |
          IMAGE="unityci/editor:ubuntu-${{ matrix.vrcsdkUnityVersion[1] }}"
          if [ "${{ matrix.platform }}" = "android" ]; then
            IMAGE="$IMAGE-android"
          else
            IMAGE="$IMAGE-windows-mono"
          fi
          IMAGE="$IMAGE-${{ env.GAMECI_VERSION }}"

          chmod +x .github/workflows/test_ci.sh
          docker run --rm \
              --env UNITY_LICENSE \
              --volume="${PWD}:/opt/project" \
              "$IMAGE" \
              /opt/project/.github/workflows/test_ci.sh

  deploy:
    needs: test
    if: github.ref_name == github.event.repository.default_branch || github.ref_name == 'beta'
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: repo
      - name: Copy license
        working-directory: repo
        run: |
          cp LICENSE.md com.vrcfury.vrcfury/LICENSE.md
          cp .github/files/LICENSE.md.meta com.vrcfury.vrcfury/LICENSE.md.meta
          cp CONTRIBUTING.md com.vrcfury.vrcfury/CONTRIBUTING.md
          cp .github/files/CONTRIBUTING.md.meta com.vrcfury.vrcfury/CONTRIBUTING.md.meta
      - name: Checkout version manifest
        uses: actions/checkout@v6
        with:
          path: versions
          repository: VRCFury/vrcfury-updater-manifest
          ssh-key: ${{ secrets.VERSION_DEPLOY_KEY }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Bundle
        working-directory: repo
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          (cd .github/workflows && npm install)
          node .github/workflows/bundle.js
      - name: Push version manifest
        working-directory: versions
        run: |
          git diff
          git config user.name VRCFury Releases
          git config user.email noreply@vrcfury.com
          git diff --quiet || git commit -am "Release from $GITHUB_SHA"
          git push
